.spot-image{
    max-width: 300px;
    max-height: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.spots-feed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.spot-card{
    flex: 0 1 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}
.spot-card-link {
    text-decoration: none;
    color: inherit;
}
